
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title></title>

    <style>
        h3 {
            color: red;
        }

        a {
          color: green;
        }
    </style>
</head>
<body>

    <h3> {{user.username}}, пожалуйста, подтвердите свой почтовый адрес </h3>
    <a href="URL"> {{url}} </a>

</body>
</html>
